body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Enable vertical scrolling */
}

#header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#logo {
    width: 50px; /* Adjust width as needed */
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

#headerText {
    display: inline-block;
    vertical-align: middle;
}

#map-image{
    width: 1200px;
}

#map-container {
    position: relative;
    margin: 100px auto 200px; /* Increase the margin to provide more space around the container */
    padding: 40px; /* Increase the padding to provide more space inside the container */
    border: 4px solid #ccc; /* Increase the border thickness */
    max-width: 1200px;
    overflow: hidden;
}



#info-box {
    display: none;
    position: absolute;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 300px; /* Keep the maximum width for other info boxes */
}

#info-box img {
    max-width: 100%; 
    height: auto; 
}


@media screen and (max-width: 768px) {
    #map-container {
        margin: 20px auto 50px; /* Adjust margin for smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
    #map-container {
        margin: 10px auto 30px; /* Adjust margin for even smaller screens */
        padding: 5px; /* Adjust padding for even smaller screens */
    }

    #headerText {
        font-size: 18px; /* Decrease font size for smaller screens */
    }

    #info-box {
        padding: 10px; /* Adjust padding for smaller screens */
        max-width: 200px; /* Decrease max-width for smaller screens */
    }

    #map-image {
        max-width: 100%; /* Make the image responsive */
        height: auto; /* Maintain aspect ratio */
    }
}
